

.contacto
{
  height: 50px;
  align-content: center;
  background-color: rgba(243, 158, 0, 0.39);
  display:flex;
  
}
.contacto-info2 , 
.contacto-info3 ,
.contacto-info4
{
  width: 200px;
  height: 40px;
  box-sizing: border-box;
  font-weight: bold;
  text-align: center;
  padding-top:15px;
  margin: 0 auto;
}
.contacto-info
{
  padding-top:8px;
  padding-left:40px;
}
.contacto-info h2
{
  font-size: 25px;
  margin:0;
}
