@import url("header.css");
@import url("seccion1.css");
@import url("seccion2.css");
@import url("seccion3.css");
@import url("pie.css");
@import url("/css/fontello.css");
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');


/*  *{
 font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)))!important;
 } */
 html,body
 {
   box-sizing: content-box;
   margin: 0;
   padding: 0;
   width: 100%;
   height:100%;
   --naranja: rgb(247, 147, 30);
  /*  background-image: url("https://cdn.pixabay.com/photo/2019/06/02/17/33/portrait-4246954_960_720.jpg");
   background-size: cover;
   background-repeat: no-repeat; */
   font-family:'Dosis', sans-serif;
 }