@import url("header.css");
@import url("seccion1.css");
@import url("seccion2.css");
@import url("seccion3.css");
@import url("pie.css");
@import url("../2drop/css/fontello.css");
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.seccion1
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("fondo.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.seccion1-escale
{
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(0,0,0,0.7609418767507002) 0%, rgba(0,0,0,0) 100%);

}

.seccion1-texto
{
  display: flex;
  flex-direction: column;
  margin: 0;
  position: absolute;
  width: 100%;
}

.seccion1-texto h1
{
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.897);
  font-family: 'Ubuntu', sans-serif;
  animation: h1-animation 4s;
  letter-spacing: calc(-3px + (-5 - 14) * ((100vw - 300px) / (1600 - 300)))!important;
  font-size: calc(60px + (170 - 14) * ((100vw - 300px) / (1600 - 300)))!important;
}

.seccion1-texto h1 span
{
  color: rgba(247, 146, 30, 0.719);
}


.seccion1-texto h2
{
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.938);
  font-family: 'Ubuntu', sans-serif;
  font-size: calc(13px + (23 - 14) * ((100vw - 300px) / (1600 - 300)))!important;
 
}

.seccion1-parrafo
{ 
  background-color:rgba(0, 0, 0, 0.527);
  height: min-content;
  border-bottom: 1px rgba(235, 129, 7, 0.253) solid;
}

.seccion1-parrafo h3
{
  margin: 0;
  padding-left: 30px;
  padding-top: 10px;
  color: var(--naranja);
  font-size: 30px;
}

.seccion1-parrafo p
{
  text-align: left;
  color:rgba(255, 255, 255, 0.65);
  padding-left: 30px;
  font-size: 21px;

}

/* //////////////Animacion 2DROP/////////////// */
@keyframes h1-animation
{
  from 
  {
    letter-spacing: 30px;
    opacity: 0;
  }

  to
  {
    letter-spacing: calc(-3px + (-5 - 14) * ((100vw - 300px) / (1600 - 300)))
    opacity: 1;
  }

}

}
/* ///////////////////////////////////////////// */


