@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');
@import url('footer.css');
@import url('fontello-icons.css');


  body
  {
    font-family: 'Dosis', sans-serif;
    background-image: url("fondo.jpg");
    background-size: cover;
  }
  .header-principal
  {
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    width: 100%;
    height: 70px;
    background:url(logo2.png)150px -3px no-repeat;
    background-color: rgb(31, 159, 255);
    border-top:1px white solid;
    border-left:1px white solid;
  }
  
  .header-menu
  {
    margin-top:20px;
    margin-left: 600px;
  }
  .header-menu ul
  {
    list-style-type: none;
  }
  .header-menu li
  {
    float:left;
  }
  .header-menu li a
  {
    text-decoration: none;
    display:block;
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 5px 30px;
  }
  .header-menu li a:hover
  {
    text-decoration: underline; 
    color:rgb(255, 167, 11);
  }

  .section
  {
    margin-top: 70px;
    width: 100%;
    height: 300px;
    background:url(imagen_about.png) 700px 27px no-repeat;
    background-color: rgba(0, 0, 0, 0.315);
  }

  .section-presentacion
  {
    color: rgba(255, 255, 255, 0.76);
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.534);
    width: 500px;
    padding: 80px 80px;
  }

  .section2-crear
  {
    color: rgb(255, 255, 255);
    padding-top:20px;
    padding-bottom: 60px;
    font-size: 60px;
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
  }

  .section2-imagenes
  {

    box-sizing: border-box;
    height: 300px;
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .info-imagenes
  {
    margin:0 auto;
  }

  .info-imagenes h3
  {
    padding-top:10px;
    margin: 0;
    text-align: center;
    text-shadow: 2px 2px 3px rgb(31, 26, 26);
    color: rgb(255, 255, 255);
  }
  .info-imagenes img  
  {
    
    height: 150px;
    width:150px;
    border-radius: 50%;
    border:5px white solid;
  }
 
